name: Deploye-cicd
on:
  push:
    branches:
    - main
    - master
jobs:
  build-and-deploy:
   runs-on: ubuntu-latest
   
   steps:

     - name: checkout-Code
       uses: actions/checkout@v5
     - name: setUp-Docker
       uses: docker/setup-buildx-action@v2
     - name: Login to EC2 (via SSH)
       uses: appleboy/ssh-action@v1
       with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/
            echo "inside your ec2"
            if [ -d "Portfolio-React-Tailwind-Ci-cd-ec2" ]; then
               cd Portfolio-React-Tailwind-Ci-cd-ec2
               git pull
               echo "Reposity Allready clone inside Portfolio-React-Tailwind "
            else
              echo "Reposity not found now clone there"
              git clone https://github.com/sumit26-lab/Portfolio-React-Tailwind-Ci-cd-ec2.git
              cd Portfolio-React-Tailwind-Ci-cd-ec2
            fi  
              
            echo "Building docker image..."
            sudo docker build -t react-protfolio .

            echo "Stopping old container..."
            sudo docker stop react-protfolio || true

            echo "Removing old container..."
            sudo docker rm react-protfolio || true

            echo "Running new container..."
            sudo docker run -d -p 80:80 --name react-protfolio react-protfolio

            echo "Docker container successfully running!"
            
          
            
          
     
   